@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,700&display=swap');

:root
{
    --nav_footer-color: #251D3A;
    --primary-color: #478EC8;
    --offwhite-color:#B7CADB;
}
@media only screen and (max-width:450px){
     .Footer{
        width: 100%;
    }
}
html 
{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    background-image:url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
    background-size: cover;
    overflow-x: hidden;
}
hr
{
    margin: 2rem 0rem;
}
.Topics
{
    text-decoration: underline;
}

/* Containers */
.Container
{
    padding: 0.5rem 1rem;/*padding:T,R,B,L=padding:T,R*/
}

.Container-Centered
{
    max-width:500px;
    margin:auto /*To ensure text is centererd*/
}

/* Links */

.Link
{
    text-decoration:none;
    padding: 0.5rem 0.5rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

.Link-Primary
{
background-color: var(--primary-color);
border-radius: 2rem; /*Increasing this will make the border more circular/oval*/
color: aliceblue;
border-radius: 2rem;
}

.Link-Secondary
{
    color: var(--primary-color);
    border-radius: 2rem;
    border:1px solid var(--primary-color);
    background-color: var(--offwhite-color);
}

/* Lists */

.Lists-NonBulleted
{
    list-style:none;
}

.List-Item-Inline
{
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation */

.Navigation
{
    background-color: var(--nav_footer-color); 
    color: aliceblue;
    padding:1rem 0rem 3rem 0.25rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.Navigation .Nav-Brand
{
    font-size: 2rem;
    /* padding-left: 4rem; */
    position: relative;top:0.85rem;left: 3rem;
    font-family:'poppins';
    font-weight: bold;
    font-size:40px;
}
.Navigation ul
{
    float:right;
}

.Navigation .Link
{
    color: aliceblue;
}

.Navigation .Link:hover
{
    background-color:var(--primary-color);
    border-radius: 2rem;
    padding: 0.25rem;;
}

.Navigation .Lists-NonBulleted
{
    text-align: right;
}

.Navigation .Link-Active
{
    background-color:var(--primary-color);
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 0.25rem;
/* font-weight: bold; Will be on Home by default,so put that as active link and set that to bold  */
}

/* Header */

.Hero
{
    padding:2rem; 
}

.Hero .Hero-Image
{
    max-width:350px ;
    display: block;
    margin: auto;
}

.Hero .Hero-Header
{
    font-size: 2rem;
    padding-top: 1.5rem;
    text-align: center;
}

.Section
{
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
}

.Section h1
{
    text-align: center;
}

.Off-White
{
    background-color: var(--offwhite-color);
}

/*Footer*/

.Footer
{
    /* background-color: var(--primary-color); */
    background-color: var(--nav_footer-color);
    text-align: center;
    padding:0.5rem 1rem;
    color: aliceblue;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.Footer .Footer-Heading
{
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

.Footer .Link
{
    color:aliceblue;
    padding-right: 1rem;
    
}

.Footer ul
{
    padding-inline-start: 0px;
}

.Footer .Logos
{
    padding: 0.25rem 0.25rem;
    max-width: 20px;
    max-height: 20px;
    position:  relative;top:9px;
}

main
{
    min-height:calc(100vh - 293.28px);
}




